.second-navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: 	#00C000;
    margin-top:0px;
    padding:25px;
    margin-bottom: 0px;

}

.second-navbar ul li a{
    padding:25px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: 	#00C000;
    
}

.second-navbar ul li img{
    height: 40px;
    margin-right: 20px;
}